Fuentes/MiDepa.pe/MiDepa.pe/Connected Services/ServicioMiDepa/ServicioMiDepa6.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/MiDepa.pe.DataTypes.Filtros" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/MiDepa.pe.DataTypes.Filtros" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="PagoFiltroDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="CodigoCampania" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Depa" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EstadoId" type="xs:int" />
      <xs:element minOccurs="0" name="FechaPagoFin" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FechaPagoIni" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NroVoucher" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PagoFiltroDto" nillable="true" type="tns:PagoFiltroDto" />
  <xs:complexType name="CampaniaFiltroDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="Anio" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Codigo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EdificioId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CampaniaFiltroDto" nillable="true" type="tns:CampaniaFiltroDto" />
</xs:schema>