Fuentes/MiDepa.pe/MiDepa.pe/Connected Services/ServicioMiDepa/ServicioMiDepa5.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/MiDepa.pe.DataTypes" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/MiDepa.pe.DataTypes" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Pago">
    <xs:sequence>
      <xs:element minOccurs="0" name="CuentaBancariaId" type="xs:short" />
      <xs:element minOccurs="0" name="EstadoCuentaId" type="xs:int" />
      <xs:element minOccurs="0" name="EstadoId" type="xs:int" />
      <xs:element minOccurs="0" name="FechaHoraAprobacion" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FechaHoraPago" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FechaHoraRegistro" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Monto" type="xs:decimal" />
      <xs:element minOccurs="0" name="NroVoucher" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Observacion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PagoId" type="xs:int" />
      <xs:element minOccurs="0" name="UsuarioAprobacionId" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Pago" nillable="true" type="tns:Pago" />
  <xs:complexType name="Archivo">
    <xs:sequence>
      <xs:element minOccurs="0" name="BinData" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="Codigo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Extension" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Tabla" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Archivo" nillable="true" type="tns:Archivo" />
  <xs:complexType name="Perfil">
    <xs:sequence>
      <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PerfilId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Perfil" nillable="true" type="tns:Perfil" />
  <xs:complexType name="Campania">
    <xs:sequence>
      <xs:element minOccurs="0" name="Anio" type="xs:short" />
      <xs:element minOccurs="0" name="CampaniaId" type="xs:int" />
      <xs:element minOccurs="0" name="Codigo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EdificioId" type="xs:int" />
      <xs:element minOccurs="0" name="EstadoId" type="xs:int" />
      <xs:element minOccurs="0" name="FechaFin" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FechaInicio" type="xs:dateTime" />
      <xs:element minOccurs="0" name="MesId" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="Total" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Campania" nillable="true" type="tns:Campania" />
</xs:schema>